@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #252B42;
  --sky-blue: #23A6F0;
  --light-sky-blue: #b2e3ff;
  --light-orange: #E77C40;
  --red: #E74040;
  --light-pink: #FFDCD1;
  --light-gray: #737373;
  --yellow: #F3CD03;
  --green: #2DC071;
  --light-green: #B9EAA8;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.4;
}

/* utility classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
}

.text-primary {
  color: var(--sky-blue);
  font-weight: 600;
  font-size: 14px;
}

.text-secondary {
  color: var(--green);
  font-weight: 600;
  font-size: 14px;
}
